
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1{
  
  left: 4.27%;
  right: 4.27%;
  top: 6.65%;
  bottom: 88.67%;
  
  font-family: Amatic SC;
  font-style: normal;
 
  font-size: 40px;
  line-height: 38px;
 text-align: center;
color: #202020;
  }


Form{
  display:flex;
  flex-direction:column;
  
}

.header {
  padding: 60px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
  
}

input{
  margin: 0 0 20px 0;
}

button{
  background-color:#3C38FC;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 80%;
  font-size: 15px;
  margin: 4px 2px;
}

